
 <!DOCTYPE html>
 <html>
    <head>
	   <title> David Ellinger's CS253 Udacity Page </title>
	   <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
		
	</head>
	<body>
			<h1>{David Ellinger Web Applications}</h1>
			  <div class = "post">
			  <h2>Unit 2</h2>
			  <hr> 
				<ul>
					<li><a href="/rot13">Rot 13 Encryption</a></li>
					<li><a href="/birthday">Birthday</a></li>
				</ul>
				</div>
			  
			  <div class = "post"><h2>Unit 3</h2>
			  <hr>
			    <ul>
			    	<li><a href="/blog">Blog</a></li>
			   	</ul>
			  </div>
	</body>
</html>