<!DOCTYPE html>
<html>
   <head>
      <title>Blog</title>
      <link href="/stylesheets/main.css" rel="stylesheet" type="text/css" />
   </head>

   <body>
    <h1><a href="/blog"> {David Ellinger's Blog}</a> <h1>
    <h5>
      [<a href="/blog/newpost">Create a New Post</a>]
      [<a href="/blog/signup">Signup</a>]
      [<a href="/blog/login">Login</a>]
      [<a href="/blog/logout">Logout</a>]
    </h5>
    {% for blog in blogs %}
       <div class="post">
       	<h3>{{blog.subject}}
       	   <span>{{blog.created.strftime("%B %d, %Y")}}</span>
       </h3>
       	<div class="content">{{blog.blogtext}}</div>
       	<br>
    {% endfor %}

   </body>

</html>